.c-button--outline {
    background: var(--main-btn-background);
    border-color: var(--main-btn-border);
}

.c-file,
.c-file__title {
    background: var(--main-btn-background) !important;
    color: var(--main-text) !important;
}

.c-file__action_button {
    background: var(--main-btn-background);
    border: var(--main-btn-border);
    color: var(--main-text) !important;
}

.c-file_container {
    border: 0.25em solid var(--main-btn-border);
}

.c-file__slide--meta {
    background: var(--background-elevated);
}

.c-member_slug--link,
.c-mrkdwn__broadcast.c-mrkdwn__broadcast--link.c-mrkdwn__broadcast--mention,
.internal_member_link,
ts-message .mention {
    background-color: #2c394a;
}

ts-message .mention:hover {
    background-color: #6b7480;
}

.c-menu_item__label {
    color: var(--main-text);
}

.c-menu_item__description {
    color: var(--alt-text);
}

.c-menu_separator__separator {
    color: var(--alt-text);
}

.c-message--editing {
    background: var(--background-elevated);
}

.c-message__body {
    color: var(--main-text);
}

.c-message__sender_link {
    color: var(--main-text) !important;
}

.c-message_actions__button {
    color: var(--main-text);
}

.c-message_actions__container {
    background-color: var(--main-btn-background);
}

.c-message_list__day_divider__label {
    color: var(--alt-text);
}

.c-message_list__day_divider__label__pill {
    background: var(--background-elevated);
}

.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    background-color: var(--background-elevated);
}

.channel_header {
    background-color: var(--main-background);
}

.channel_header_info_item {
    background-color: var(--main-background);
}

code,
.c-mrkdwn__code,
.c-mrkdwn__pre {
    background-color: #24272a;
    color: #e2e2e2;
}

.c-unified_member__name {
    color: var(--main-text)
}

.c-virtual_list__item {
    background-color: var(--main-background);
    border-top: 1px solid var(--background-elevated);
}

.c-menu,
.p-message_actions_menu {
    background-color: var(--main-background);
    border: 1px solid var(--main-border);
}

.p-channel_sidebar__jumper {
    background: var(--background-elevated) !important;
}

.p-degraded_list__loading {
    background: var(--main-background);
    color: var(--main-text);
}

.p-emoji_picker {
    background: var(--main-btn-background) !important;
    border: 1px solid var(--main-btn-border);
}

.p-emoji_picker__content:hover .p-emoji_picker__skintone_btn_container {
    border: 1px solid var(--main-btn-background);
}

.p-emoji_picker__content:hover .p-emoji_picker__skintone_btn_container,
.p-emoji_picker__content:hover .p-emoji_picker__skintone_label {
    background: var(--main-background) !important;
}

.p-emoji_picker__group_tab:hover,
.p-emoji_picker__group_tab--active {
    background: var(--main-background);
}

.p-emoji_picker__footer,
.p-emoji_picker__heading,
.p-emoji_picker__input_container,
.p-emoji_picker__list_container,
.p-emoji_picker__skintone_options,
.p-emoji_picker__tip--can_add_emoji {
    background: var(--main-btn-background);
    color: var(--main-text);
}

.p-emoji_picker__preview_text,
.p-emoji_picker__preview_text--shortened {
    background: var(--main-btn-background);
    color: var(--main-text);
    height: 40px;
}

.p-emoji_picker__skintone_label {
    background: var(--main-btn-background) !important;
    color: var(--main-text) !important;
}

.p-emoji_picker__skintone_label:hover {
    border: var(--main-btn-border);
}

.p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider:before,
.p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before {
    background: var(--main-background);
}

.ql-editor,
.ql-placeholder {
    color: var(--main-text);
}

.tab_complete_ui {
    background: var(--main-btn-background);
    border: 1px solid var(--main-btn-border);
}

.tab_complete_ui_header {
    background: var(--main-btn-background) !important;
    color: var(--main-text) !important;
}

.btn_unstyle .ts_icon_mentions,
#main_emo_menu,
#primary_file_button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-text);
}

#team_menu:hover,
.p-channel_sidebar__channel:hover {
    background: var(--background-elevated) !important;
}

#team_menu,
.p-channel_sidebar__static_list {
    background: var(--main-background);
    color: var(--main-text) !important;
}

.presence.away {
    color: var(--main-text) !important;
}

#channel_title {
    color: var(--main-text);
}

#messages_container:after {
    background-color: var(--main-background);
}

#footer_msgs {
    background-color: var(--main-background);
}

#header_search_form,
.ql-editor,
#msg_input {
    background-color: var(--main-btn-background);
}

button {
    color: var(--main-text) !important;
}

#edit_topic_inner:not(.unable_to_post):before {
    background: var(--main-background);
}

.day_divider_label {
    background: var(--main-btn-background) !important;
    color: var(--main-text);
}

#canvases_toggle.active,
#canvases_toggle.active:hover,
#details_toggle.active:hover,
#details_toggle.active,
#recent_mentions_toggle.active,
#recent_mentions_toggle.active:hover,
#sli_recap_toggle.active,
#stars_toggle.active,
#stars_toggle.active:hover {
    background: var(--main-btn-background);
    border: 1px solid var(--main-btn-border);
}

.tab_panels.tab_container,
#client_body:not(.onboarding):not(.feature_global_nav_layout):before,
#flex_contents .heading,
#flex_contents .heading_text,
#mentions_options {
    background: var(--main-background) !important;
    color: var(--main-text) !important;
}

.mention_day_container_div .day_divider:before {
    background: var(--main-background);
}

.message_body {
    color: var(--main-text);
}

.message_sender,
.light_theme ts-message .message_content .message_sender {
    color: var(--main-text) !important;
}

#member_mentions_more_btn {
    background: var(--main-btn-background);
    color: var(--main-text) !important;
}

#menu_items_scroller {
    background: var(--main-btn-background);
    border: 1px solid var(--main-btn-border);
    border-radius: 0.25em;
}

.menu ul li a:not(.inline_menu_link) {
    color: var(--main-text);
}

#details_tab .channel_page_section {
    background: var(--main-btn-background);
}

#details_tab .channel_page_section .section_title {
    color: var(--main-text);
}

.p-channel_insights__drawer_title,
.p-channel_insights .c-unified_member__title,
#details_tab .feature_sli_channel_insights .channel_created_section .creator_link, #details_tab .feature_sli_channel_insights .channel_purpose_section .channel_purpose_text {
    color: var(--alt-text) !important;
}

.c-unified_member__display-name,
.griegh {
    color: var(--main-text) !important;
}

.channel_page_member_row:hover {
    background: var(--main-background);
    border-color: var(--main-btn-border);
}

.p-channel_insights__date_heading::before,
.p-channel_insights__date_heading span,
.p-channel_insights__message ts-message.standalone:not(.for_mention_display):not(.for_search_display):not(.for_top_results_search_display):not(.for_star_display) {
    background-color: var(--main-background);
}

.p-channel_insights__date_heading span {
    border-radius: 0.5em;
    color: var(--main-text);
}

.p-channel_insights__highlights_description {
    color: var(--alt-text);
}

.tab_container .file_list_item:hover {
    background-color: var(--main-background);
}

.tab_container .file_list_item .actions .btn_icon {
    background-color: var(--main-btn-background);
    border: 1px solid var(--main-btn-border);
}

.tab_container .file_list_item .actions .btn_icon,
#client-ui .file_list_item .title {
    color: var(--main-text) !important;
}

.btn_outline {
    background: var(--main-background);
    border: 1px solid var(--main-btn-border);
    color: var(--main-text) !important;
}

ts-message.selected:not(.delete_mode) {
    background: var(--main-background);
}

ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply):not(.show_broadcast_indicator) {
    background: var(--background-elevated);
}

ts-message .action_hover_container,
ts-message .action_hover_container .btn_msg_action {
    background: var(--main-btn-background);
    border-color: var(--main-btn-border);
}

.inline_file_upload {
    background: var(--main-btn-background);
    border: 1px solid white;
}

ts-message.highlight {
    background: var(--background-elevated);
}

.c-dialog__content,
.c-dialog__footer,
.c-dialog__header,
.modal,
.modal-footer {
    background: var(--background-elevated);
}

.c-alert--inline,
.c-dialog__title,
.c-message_attachment__author--distinct,
.slack_menu_header_primary.overflow_ellipsis {
    color: var(--main-text);
}

.c-member_slug--mention, .c-member_slug--mention:hover {
    background: var(--main-background);
}

.channel_page_members_highlighter { 
    background-color: #90939d !important;
}

.btn_outline:hover,
.slack_menu_download {
    background: var(--main-btn-background);
}

.c-menu_item__header,
.mini {
    color: var(--alt-text);
}

.menu .section_header .header_label {
    background-color: var(--main-btn-background);
    color: var(--main-text);
}

.CodeMirror {
    background: #1d1f21;
}

.c-snippet__code .CodeMirror {
    color: #969896;
}

.c-snippet__code .CodeMirror-code>div:before {
    background-color: #333537;
    color: var(--main-text);
}

.c-file_container--gradient:after {
    background: linear-gradient(180deg, hsla(0,0%,100%,0), #1d1f21);
}

.c-dialog__footer .p-file_upload_dialog__footer_share_inputs {
    color: var(--main-text);
}

.c-input_select {
    background: var(--main-background);
    color: var(--main-text);
}

input[type="text"] {
    background: var(--main-background);
}

.c-input_select_options_list_container:not(.c-input_select_options_list_container--always-open) {
    background-color: var(--main-background);
    border: 1px solid var(--main-btn-border);
}

.c-input_select_options_list__option {
    color: var(--main-text);
}

.c-input_select__secondary_member_name {
    color: var(--alt-text);
}

.c-input_select__secondary_member_name:before {
    content: "(";
}

.c-input_select__secondary_member_name:after {
    content: ")";
}

.c-button--disabled {
    background: #8e8f90;
}

#threads_msgs_scroller_div,
.p-message_pane .c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider {
    background: var(--main-background);
}

.p-message_pane__limited_history_foreword {
    background-color: var(--background-elevated);
    color: var(--main-text);
}

body,
.channel_title .channel_name {
    color: var(--main-text);
}

#unread_msgs_div .day_divider,
ts-message.message--focus:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply):not(.show_broadcast_indicator),
.unread_group_header {
    background: var(--main-background);
    color: var(--alt-text);
}

.unread_group_header .unread_group_mark {
    background: var(--main-btn-background);
}

.unread_group_header .unread_group_collapse_toggle:hover ts-icon,
.unread_group_header_name a {
    color: var(--main-text);
}

.bot_message .message_sender a {
    color: var(--main-text);
}

#unread_msgs_div .day_divider {
    margin-bottom: 0;
    margin-top: 0;
}

#unread_msgs_div > div > div.bottom_mark_all_read.large_top_padding.large_bottom_padding.align_center,
ts-message:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply):not(.show_broadcast_indicator) {
    background-color: var(--main-background);
}

.unread_group_footer {
    background: var(--main-background);
    opacity: 1;
}

.unread_group_footer .unread_group_new .unread_group_new_text {
    color: var(--alt-text);
}

#unread_msgs_scroller_div:after {
    background: var(--main-background);
    opacity: 1;
    position: relative;
}

ts-jumper .p-jumper__help,
ts-jumper ol li .channel_name,
ts-jumper ol li {
    background: var(--main-background);
    color: var(--alt-text);
}

ts-jumper ol:not(.keyboard_active) li:hover:not(.no_hover) .channel_name {
    background: #2d9ee0;
}

.c-message_attachment {
    color: var(--alt-text);
}

.fs_modal_file_viewer_header {
    background-color: var(--main-background);
}

#fs_modal h2 {
    color: var(--main-text);
}

.fs_modal_file_viewer_header .control_btn, .fs_modal_file_viewer_header .control_btn:link,
.fs_modal_file_viewer_header a.control_btn, .fs_modal_file_viewer_header a.control_btn:link {
    color: var(--alt-text);
}

.fs_modal_file_viewer_content .viewer {
    background-color: var(--background-elevated);
}
