.c-button--outline {
    background: var(--main-btn-background);
    border-color: var(--main-btn-border);
}

.c-file,
.c-file__title {
    background: var(--background-elevated) !important;
    color: var(--main-text) !important;
}

.c-file__action_button {
    background: var(--main-btn-background);
    border: var(--main-btn-border);
    color: var(--main-text) !important;
}

.c-file_container {
    border-width: 0.25em !important;
}

.c-file__slide--meta {
    background: var(--background-elevated);
}

.c-member_slug--link {
    background-color: #2c394a;
}

.c-menu_item__label {
    color: var(--main-text);
}

.c-menu_item__description {
    color: var(--lighter-text-color-1);
}

.c-menu_separator__separator {
    color: var(--lighter-text-color-1);
}

.c-message--editing {
    background: var(--background-elevated);
}

.c-message__body {
    color: var(--main-text);
}

.c-message__sender_link {
    color: var(--main-text) !important;
}

.c-message_actions__button {
    color: var(--main-text);
}

.c-message_actions__container {
    background-color: var(--main-btn-background);
}

.c-message_list__day_divider__label {
    color: var(--lighter-text-color-1);
}

.c-message_list__day_divider__label__pill {
    background: var(--background-elevated);
}

.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    background-color: var(--background-elevated);
}

.channel_header {
    background-color: var(--main-background);
}

.channel_header_info_item {
    background-color: var(--main-background);
}

code,
.c-mrkdwn__code,
.c-mrkdwn__pre {
    background-color: #24272a;
    color: #e2e2e2;
}

.c-unified_member__name {
    color: var(--main-text)
}

.c-virtual_list__item {
    background-color: var(--main-background);
    border-top: 1px solid var(--background-elevated);
}

.c-menu,
.p-message_actions_menu {
    background-color: var(--main-background);
    border: 1px solid var(--main-border);
}

.p-channel_sidebar__jumper {
    background: var(--background-elevated) !important;
}

.p-emoji_picker {
    background: var(--main-btn-background) !important;
    border: 1px solid var(--main-btn-border);
}

.p-emoji_picker__content:hover .p-emoji_picker__skintone_btn_container {
    border: 1px solid var(--main-btn-background);
}

.p-emoji_picker__content:hover .p-emoji_picker__skintone_btn_container,
.p-emoji_picker__content:hover .p-emoji_picker__skintone_label {
    background: var(--main-background) !important;
}

.p-emoji_picker__group_tab:hover {
    background: var(--main-background);
}

.p-emoji_picker__group_tab--active {
    background: var(--main-background);
    border: 1px solid var(--main-btn-border);
}

.p-emoji_picker__footer,
.p-emoji_picker__heading,
.p-emoji_picker__input_container,
.p-emoji_picker__list_container,
.p-emoji_picker__skintone_options,
.p-emoji_picker__tip--can_add_emoji {
    background: var(--main-btn-background);
    color: var(--main-text);
}

.p-emoji_picker__preview_text,
.p-emoji_picker__preview_text--shortened {
    background: var(--main-btn-background);
    color: var(--main-text);
    height: 35px;
    margin-top: 6px;
}

.p-emoji_picker__skintone_label {
    background: var(--main-btn-background) !important;
    color: var(--main-text) !important;
}

.p-emoji_picker__skintone_label:hover {
    border: var(--main-btn-border);
}

.p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider:before,
.p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before {
    background: var(--main-background);
}

.ql-editor,
.ql-placeholder {
    color: var(--main-text);
}

.tab_complete_ui {
    background: var(--main-btn-background);
    border: 1px solid var(--main-btn-border);
}

.tab_complete_ui_header {
    background: var(--main-btn-background) !important;
    color: var(--main-text) !important;
}

.btn_unstyle .ts_icon_mentions,
#main_emo_menu,
#primary_file_button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-text);
}

#team_menu:hover,
.p-channel_sidebar__channel:hover {
    background: var(--background-elevated) !important;
}

#team_menu,
.p-channel_sidebar__static_list {
    background: var(--main-background);
    color: var(--main-text) !important;
}

.presence.away {
    color: var(--main-text) !important;
}

#channel_title {
    color: var(--main-text);
}

#messages_container:after {
    background-color: var(--main-background);
}

#footer_msgs {
    background-color: var(--main-background);
}

#header_search_form,
.ql-editor,
#msg_input {
    background-color: var(--main-btn-background);
}

button {
    color: var(--main-text) !important;
}

#edit_topic_inner:not(.unable_to_post):before {
    background: var(--main-background);
}
