:root {
    --main-text: #e4e4e4;
    --main-background: #383c4a;
    --main-border: #292c36;
    --main-btn-background: #474b5d;
    --main-btn-border: #1b1b1b;
    --background-elevated: #3f4353;
    --alt-text: #e7e7e7;
}